/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul:       #167BF7;
    --cor-de-fundo:     #000000;
    --fonte-principal:  'montserrat';
    --botao-azul-efeito:#3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("base/fundo.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin-top: 0;
}
 
.container {
    height: 100vh;
    display: block;
    color: var(--cinza-secundario);
    grid-template-columns: 50% 50%;
    align-items: center;
}

.container__caixa {
    margin: 2em 4em;
    text-align: center;
}

.container__imagem {
    max-width: 40%;
    min-width: 20%;
    margin: 4em 0 1em 0;
}

.container__titulo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 800;
    color: var(--branco-principal)
}

.container__texto {
    margin-top: 0em;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--branco-principal);
}

.entre-em-contato {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-entre-em-contato {
    margin: auto;
    align-self: center;
    height: 3rem;
}

.lista-icones {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icone__imagem {
    width: 2rem;
}